.slick-slide >div{
    margin: 0 10px;
}
.carousel-container {
    width: 75%;
    margin: auto;
  }
  
  .carousel-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .carousel-item-content {
    background-color: white;
    height: 500px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-item-image {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indigo;
    border-radius: 10px 10px 0 0;
  }
  
  .carousel-item-image img {
    height: 80%; /* Adjust as needed */
    width: auto;
    border-radius: 50%;
  }
  
  .carousel-item-text {
    padding: 20px;
  }
  
  .carousel-item-text p:first-child {
    font-size: 20px;
    font-weight: bold;
  }
  
  .carousel-item-text button {
    background-color: black;
    color: pink;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  