

.contact-container {
    margin-top: 80px;
   
  }
  
  .contact-container h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
   
  }
  
  textarea.form-control {
    resize: vertical; 
  }
  
  .btn-primary {
    width: 100%;
    margin-top: 20px;
  }
  

  