

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.oyorooms.com/travel-guide/wp-content/uploads/2023/01/MUMBAI.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 100%;
  padding: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .product-container {
    padding: 40px;
  }

  .item {
    width: 45%;
    margin: 10px;
  }
}
