.form-container {
    background-color: #fbfafa; 
    padding: 40px; 
    border-radius: 10px; 
    margin: 20px auto; 
    max-width: 200px; 
}
  
  @media (min-width: 768px) {
    .form-container {
      padding: 40px; 
      margin: 40px auto ;
      
      
    
    }
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-signup {
    background-color: #f1be5e; 
    color: #fbf7f7; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
  }
  
  .btn-signup:hover {
    background-color: #f49b63; 
  }
  